.Tamagotchi {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  padding: 30px;
  text-align: center;
}
button {
  background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 70px;
  margin: 0 10px;
  outline: none;
  transition: transform 0.1s ease-in-out;
  width: 90px;
}

button:hover {
  transform: scale(1.1);
}
h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  color: red;
  font-size: 1.5em;
  margin: 20px 0;
}

.stat {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.stat label {
  font-size: 1.2em;
  margin-right: 10px;
  width: 80px;
}

.stat .value {
  border-radius: 5px;
  height: 20px;
}

.stat .value::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.stat .value.good::before {
  background-color: #00C853;
}

.stat .value.warning::before {
  background-color: #FFB300;
}

.stat .value.danger::before {
  background-color: #B71C1C;
}